# Example gitignore file for a Python project
*.png


# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp

# Floder
/DataSets/XU_Bench/CLIP_Score_Bench/format_data
/DataSets/XU_Bench/FID_Score_Bench/cocoapi/coco_dataset
/DataSets/XU_Bench/FID_Score_Bench/real_images
/DataSets/HRS_Bench_Prompts/embs
/DataSets/data_evaluate_LLM/eval_metrics/detection/cuda_11.3.1_465.19.01_linux.run
/DataSets/data_evaluate_LLM/eval_metrics/detection/cuda_13.0.1_580.82.07_linux.run
Qwen-Image-Lightning/
Qwen-Image-Lightning_v2/
expData/